{% extends 'base.html' %}

{% block title %}تعديل خدمة{% endblock %}

{% block content %}

<div class="page-header">

  <div>

    <h1 class="page-title">
      تعديل الخدمة
    </h1>

    <p class="page-subtitle">
      تعديل بيانات الخدمة الطبية
    </p>

  </div>

</div>

<div class="card">

<form method="POST">

  <div class="form-grid">

    <div class="form-group">

      <label>اسم الخدمة</label>

      <input
        type="text"
        name="name"
        class="form-control"
        maxlength="100"
        value="{{ service.name }}"
        required
      >

    </div>

   

    <div class="form-group">

      <label>السعر</label>

      <input
        type="number"
        step="0.01"
        name="price"
        class="form-control"
        value="{{ service.price }}"
        required
      >

    </div>

    <div class="form-group full-width">

      <label>وصف الخدمة</label>

      <textarea
        name="description"
        class="form-control"
        rows="5"
        maxlength="200"
      >{{ service.description }}</textarea>

    </div>

  </div>

  <div class="form-actions">

    <button
      type="submit"
      class="btn btn-primary btn-submit"
    >
      حفظ التعديل
    </button>

    <a
      href="{{ url_for('list_services') }}"
      class="btn btn-ghost"
    >
      رجوع
    </a>

  </div>

</form>

</div>

{% endblock %}